{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %} 

{% block title %}{% trans "Sign In" %} signup | apt-plus{% endblock %}

{% block content %}

<div class="map-container">
  {% include "map.html" %}

  <div class="columns is-centered map-container-overlay is-vcentered" style="height: 100%;">
    <div class="column is-4">
      <div class="box mt-6" id="login-box" style="pointer-events:auto">
        
        <!-- Title -->
        <h1 class="title is-3 mb-4 has-text-left">{% trans "Welcome Back" %}</h1>

        {% if not SOCIALACCOUNT_ONLY %}
          {% url 'account_login' as login_url %}
          <form method="post" action="{{ login_url }}">
            {% csrf_token %}

            <!-- Email Field -->
            <div class="field">
              <label class="label">{% trans "Email" %}</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" name="login" placeholder="Email address" required id="id_login" value="{{ form.login.value|default_if_none:'' }}">
                <span class="icon is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <!-- Remember Me -->
            <div class="field mt-2">
              <label class="checkbox">
                <input type="checkbox" name="remember" id="id_remember">
                {% trans "Remember me" %}
              </label>
            </div>

            {{ redirect_field }}

            <!-- Submit Button -->
            <div class="field mt-4">
              <button class="button has-background-black is-link is-fullwidth is-rounded">
                {% trans "Sign In" %}
              </button>
            </div>
          </form>
        {% endif %}

        <!-- Google Login -->
        {% if SOCIALACCOUNT_ENABLED %}
        <div class="mt-4">
          <a href="{% provider_login_url 'google' process='login'%}" 
             class="button is-rounded is-fullwidth is-light is-flex is-align-items-center is-justify-content-center">
            <span class="icon mr-2">
              <i class="fab fa-google"></i>
            </span>
            <span>Sign up with Google</span>
          </a>
        </div>
      {% endif %}

        <!-- Sign up link -->
        <p class="is-size-6 mt-5 has-text-left">
          {% trans "Don't have an account?" %}
          <a href="{{ signup_url }}" class="has-text-link has-text-weight-semibold" style="text-decoration: underline;">
            {% trans "Sign up" %}
          </a>
        </p>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_body %}
  {{ block.super }}
  {% if PASSKEY_LOGIN_ENABLED %}
    {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
  {% endif %}
{% endblock %}
