{% extends "base.html" %}

{% block title %}About | apt-plus{% endblock %}

{% block content %}

<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <h1 class="title">Apartments Plus</h1>
        <p>
          Apartments Plus aggregates data about apartment rentals. We focus on information that mainstream
          rental sites do not display. While mainstream platforms offer polished listings and curated
          photographs, they often omit the kinds of information that matter most: an 17-minute walk to the bus
          stop that's just impossible in the rain, the unresolved complaints, the landlord who locals know not
          to rent from. We set out to fill in those blind spots.
        </p>
        <p>
          Apartments Plus currently supports tenants in university neighborhoods like Hyde Park, Chicago.
          These neighborhoods welcome a steady stream of new tenants every year. But for someone preparing to
          sign a lease in an unfamiliar zip code, the details on Apartments Plus are the difference between
          security and regret. Our focus right now is on the vital characteristics: building code violations,
          transit, access to groceries.
        </p>
        <p>
          What Apartments Plus offers is transparency. Not just transparency about the features of the
          apartments you can rent, but transparency in process. We take publicly accessible data, aggregate
          it, and then put it in a format that you can easily understand. We're doing this because we believe
          in transparency. We've all been burned by apartments, especially in places where you will only live
          for a couple years and your landlord knows it. Because of this motivation, our product will remain
          open source.
        </p>
        <!-- About Us Block-->
        <h2 class="is-size-3">About Us</h2>
        <p>
          This project was created by a group of
          <a href="https://capp.uchicago.edu/" target="_blank">University of Chicago Master of Science in
            Computational Analysis and Public Policy (MSCAPP)</a>
          students as part of a class project for Software Engineering for Civic Tech, taught by Professor
          James Turk:
        </p>
        <ul>
          <li><a href="https://github.com/arkadeep" target="_blank">Arkadeep Bandyopadhyay</a></li>
          <li><a href="https://github.com/mmbarros-git" target="_blank">Magdalena Barros</a></li>
          <li><a href="https://github.com/whiskey0504" target="_blank">Zewei Liao</a></li>
          <li><a href="https://github.com/miguelperez94" target="_blank">Miguel Pérez</a></li>
          <li><a href="https://github.com/rjrivarola" target="_blank">Rodrigo Rivarola</a></li>
          <li><a href="https://github.com/m-rosenbaum" target="_blank">Michael Rosenbaum</a></li>
          <li><a href="https://github.com/fuyukitn" target="_blank">Fuyuki Tani</a></li>
          <li><a href="https://github.com/keling888" target="_blank">Keling Yue</a></li>
        </ul>
        <p>
          More details on our involvement are available on
          <a href="https://github.com/uchicago-capp-30320/apt-plus" target="_blank">GitHub</a>.
        </p>
        <!-- Contribute Block -->
        <h2 class="is-size-3">Contribute</h2>
        <p>
          We welcome public collaboration and contribution for this project. We started local, focusing on
          Hyde Park, where we live and study. Searching for apartments is not just a local problem. If you
          feel that providing clear and open information on apartments in your neighborhood is something you
          care about, please check out this project on <a href="https://github.com/uchicago-capp-30320/apt-plus"
            target="_blank">GitHub</a>.
        </p>
        <p>
          Even if you don't code, any feedback on what's working and what isn't is helpful. Feel free to add
          that on our GitHub!
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}