{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="{% static 'css/pic.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <!-- Navbar -->
  {% include "navbar.html" %}

  <!-- home page -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  {% include "footer.html" %}

</body>
</html>
