{% extends "base.html" %}

{% load static %}

{% block title %}Home | apt-plus{% endblock %}

{% block content %}

<div style="position: relative;">

  <!-- Map container -->
  {% include "map.html" %}

  <div class="columns is-mobile is-multiline"
    style="position: absolute; top: 8rem; left: 0; right: 0; pointer-events: none;">
    <div class="column is-3 is-offset-1">
      <div class="box" style="pointer-events:auto">

        <!-- Title -->
        <h1 class="title 
            is-size-3-mobile 
            is-size-2-tablet 
            is-size-1-desktop">
          Where are you thinking about living?
        </h1>

        <!-- search bar -->
        <div class="field has-addons mt-4">
          <div class="control is-expanded">
            <input id="addressInput" class="input is-rounded" type="text" placeholder="Enter an address">
          </div>
          <div class="control">
            <button id="searchButton" class="button is-rounded">
              <span class="icon has-text-dark">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>

        <!-- Bullets -->
        <div class="mt-5">
          <!-- Check it -->
          <div class="media mb-4">
            <div class="media-left">
              <span class="icon" style="color: #0B8ADB;">
                <i class="fas fa-map-marker-alt fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p><strong>Check it</strong></p>
              <p>We provide you information on transit, nearby amenities, housing code violations, and more.</p>
            </div>
          </div>

          <!-- Confirm it -->
          <div class="media mb-4">
            <div class="media-left">
              <span class="icon" style="color: #DB0B0B;">
                <i class="fas fa-filter fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p><strong>Confirm it</strong></p>
              <p>Set up custom filters for each address to make sure that the apartment you’re looking at is one you
                actually want to live in.</p>
            </div>
          </div>

          <!-- Save it -->
          <div class="media">
            <div class="media-left">
              <span class="icon" style="color: #DBD80B;">
                <i class="fas fa-bookmark fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p><strong>Save it</strong></p>
              <p>Save the apartments you like for later, even if you found them on different websites.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Rent Smarter -->
    <div class="column is-3 is-offset-2">
      <div class="mt-6 box">

        <p><strong>Rent Smarter</strong></p>

        <p><small>Your next home shouldn’t come with surprises. We built Apartments Plus to take the guesswork out of
            renting. See where you can buy your groceries, find how long it’ll take to get to work, and even learn
            what’s wrong with the building. All before moving in.</p>

        <p class="mt-3">Our process is simple. We take publicly accessible data, aggregate it, and then put it in a
          format that you can easily understand. We’re doing this because we believe in transparency. We’ve all been
          burned by apartments, especially in places where you will only live for a couple years and your landlord knows
          it. Because of this motivation, our product will remain open source.</p>

        <p class="mt-3">We’re starting in Chicago with Hyde Park, home to the University of Chicago. If you like using
          Apartments Plus, we can work to bring this to a neighborhood near you.<samall>
        </p>

      </div>
    </div>
  </div>

</div>

<!--
  to-do: refactor to combine both of thes script blocks with the DOM updates
  Referenced by //Attach search event listener script, so must be first
-->
<script src="{% static 'js/address_submission.js' %}"></script>
<script>
  // Attach search event listener
  const searchButton = document.getElementById('searchButton');
  searchButton.addEventListener('click', getApartment)
</script>

{% endblock %}